@font-face {
	font-family: "Ozzy";
	src: url(../assets/fonts/OzzyII.ttf);
}

sup {
	vertical-align: super;
	font-size: small;
}

#uni {
	font-family: "Ozzy";
	font-size: 150%;

	margin-top: 25%;
}

#cover-details {
	line-height: 1.25;
	font-size: 75%;
	margin-top: 2.5%;
}

#tag {
	font-size: 85%;
}

#credits {
	font-size: 1.25em;
}

.cred-title {
	text-decoration: underline;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	line-height: 2;
}

#biblio-content {
	margin-left: 25%;
}

#cred-content ul ul li {
	margin-left: 5%;
}

#fb
{
    width: 996px;
    height: 470px;
    padding-bottom: 300px;

    background-image: url(../assets/img/GraphSearch_facebook.png);
    background-position: center;
}

#bg
{
    width: 1114px;
    height: 800px;
    padding-bottom: 300px;

    background-image: url(../assets/img/unicorn.jpg);
    background-position: center;
}