@font-face {
	font-family: "Ozzy";
	src: url(../assets/fonts/OzzyII.ttf);
}

sup {
	vertical-align: super;
	font-size: small;
}


sub {
	vertical-align: sub;
	font-size: small;
}

#uni {
	font-family: "Ozzy";
	font-size: 1.5em;
	margin-top: 25%;
}

#cover-details {
	line-height: 1.25;
	font-size: 0.75em;
	margin-top: 2.5%;
}

#tag {
	font-size: 0.85em;
}

#fb-graph
{
    width: 996px;
    height: 470px;

    background-image: url(../assets/img/GraphSearch_facebook.png);
    background-position: center;
}

#bg
{
    width: 1114px;
    height: 800px;

    background-image: url(../assets/img/unicorn.jpg);
    background-position: center;
}

#nw-world {
    background-image: url(../assets/img/nw-world-conn.png);
    background-position: center;
	width: 1000px;
    height: 750px;

    padding-top: 650px;
    font-weight: bold;
    font-size: 2em;
    line-height: 1.25;
}

#fb {
	width: 1260px;
    height: 700px;

    background-image: url(../assets/img/facebook-login.jpg);
    background-position: center;
}

#twit {
	padding-left: 750px;
	padding-top: 350px;
}

#gplus {
	padding-bottom: 135px;
}

figure {
	float: right;
}

figure figcaption {
	font-size: 0.35em;
	text-align: right;
}

#net-min-intel {
	width: 880px;
    height: 500px;

    background-image: url(http://www.intel.com/content/dam/www/public/us/en/images/illustrations/embedded-infographic-600-logo.jpg);
}

#net-min-intel p {
	margin-top: 475px;
	font-size: 0.5em;
	text-align: right;
}

#net-RT p {
	margin-right: 75px;
	font-size: 0.5em;
	text-align: right;
}

.edge {
	text-align: center;
}

.title {
	text-decoration: underline;
	margin-bottom: 100px;
}

.citation {
	font-size: small;
}

.citation sup {
	font-size: smaller;
}

#inv-idx-adj-lst {
	font-size: 0.75em;
}

#credits {
	font-size: 1.25em;
}

.cred-title {
	text-decoration: underline;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	line-height: 2;
}

#biblio-content {
	margin-left: 25%;
}

#cred-content ul ul li {
	margin-left: 5%;
}